.profile {
  margin-top: 50px;
}

.is-grouped .field {
  margin-left: 10px;
}

.is-grouped .field:first-of-type {
  margin-left: 0;
}

.is-capital {
  text-transform: capitalize;
}

.profile .box {
  /*box-shadow: 0 0 0 1px rgba(10,10,10,.1);*/
  box-shadow: none;
  border-radius: 3px;
  margin-bottom: 0;
}

.box .box--github {
  /*box-shadow: 0 0 0 1px rgba(10,10,10,.1);*/
  border-radius: 2px;
}

.box .box--github {
  /*box-shadow: 0 0 0 1px rgba(10,10,10,.1);*/
  border-radius: 2px;
}

.image--dribbble {
  border-radius: 3px;
}

.icon-label {
  margin-left: 5px;
}