body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F2F4F6;
  height: 100vh;
}

a {
  color: #3273dc;
}

a:hover {
  color: #363636;
}

.nav-left {
  overflow: inherit;
  overflow-x: visible;
}
